.backToTopWrapper {
  margin: 80px auto 40px auto;
}

.backToTop {
  background: url("./assets/svgs-sprite.svg") 50.745655877342415%
    50.9719222462203% no-repeat;

  width: 27px;
  height: 27px;

  fill: rgb(var(--secondary-color));
  stroke: rgb(var(--ternary-color));
}
