.basket-icon-wrapper {
  height: 100%;
  margin: 0 0 0 8px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.basket-icon {
  width: convertToRem(25px);
  padding-inline: convertToRem(19px);

  stroke-width: 20;
  stroke: rgb(var(--primary-color));
  fill: transparent;
}
