.input-wrapper {
  flex: 1;
  margin: 0;
}

.input {
  border-style: solid;
  border-color: rgb(var(--neutral-color));
  border-width: 1px;
  border-radius: 5px;
  padding: 11px 16px;
  font-size: 1rem;
  font-weight: 500;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;
}
.input::after {
  content: attr(data-label);
  position: absolute;
  top: -0.5625rem;
  left: 10px;
  font-size: 0.75rem;
  background-color: rgb(var(--primary-background-color));
  padding-inline: 5px;
}

.filters {
  display: flex;
  padding-bottom: var(--page-padding-top);
  gap: 16px;
}

.products {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  margin-bottom: 40px;
}

.product {
  display: flex;
  flex-direction: column;
}
.product__image-wrapper {
  position: relative;
  border-radius: 5px;
  box-shadow: var(--box-shadow-values);
  margin: 0;
  overflow: hidden;
  width: 100%;
  aspect-ratio: 1;
  -o-object-fit: cover;
     object-fit: cover;
}
.product__image-wrapper[data-options]::after {
  content: attr(data-options) " options";
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.25);
  padding: 2px 10px;
  font-weight: 200;
  font-size: 0.625rem;
  white-space: nowrap;
}
.product__image {
  width: 100%;
}
.product__information {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product__name {
  color: black;
  font-family: "primary font light";
  font-weight: 300;
  font-size: 0.75rem;
  padding-inline: 10px;
  min-height: 28px;
  margin: 0;
}
.product__name > span {
  margin-top: auto;
}
.product__price {
  font-family: "primary font bold";
  font-weight: 300;
  font-size: 0.875rem;
  font-weight: 500;
  margin-top: 8px;
}
.product__call-to-action-wrapper {
  margin: 0;
}
.product__call-to-action {
  position: relative;
  font-family: "primary font light";
  font-weight: 300;
  font-size: 0.75rem;
  border-style: solid;
  border-width: 1px;
  padding: 2px 10px;
}
.product__success-message {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  inset: 0;
  background-color: rgb(var(--secondary-color));
  -webkit-animation-name: fadein;
          animation-name: fadein;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.product__call-to-action-wrapper.success .product__success-message {
  display: flex;
}

.pagination {
  display: flex;
  color: rgb(var(--neutral-color));
  justify-content: space-between;
}
.pagination__arrow {
  border-style: solid;
  border-width: 2px 2px 0 0;
  border-color: rgb(var(--neutral-color));
  transform: rotate(225deg);
  width: 10px;
  height: 10px;
}
.pagination__arrow--right {
  transform: rotate(45deg);
}
.pagination__item-wrapper {
  min-width: unset;
  flex: 1;
}
.pagination__item--active {
  border-radius: 100%;
  border-style: solid;
  border-width: 1px;
  color: black;
  background-color: rgb(var(--secondary-color));
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}