:root {
  --primary-color: 172, 140, 48;
  --secondary-color: 248, 239, 230;
  --ternary-color: 51, 51, 51;
  --neutral-color: 128, 128, 128;
  --error-color: 179, 38, 30;
  --primary-background-color: 255, 255, 255;
}
