html,
body {
  margin: 0;
  font-family: "primary font";
  scroll-behavior: smooth;
}

button,
a,
.clickable {
  // Google Mobile Guidelines
  min-height: 48px;
  min-width: 48px;
  margin: 8px;

  text-decoration: none;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  background-color: transparent;
  border: none;
}

img,
svg {
  max-width: 100%;
  max-height: 100%;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
figure {
  margin: 0;
}

.section {
  padding-inline: var(--page-padding-left);

  &__h2 {
    font-size: convertToRem(24px);
    font-family: "secondary font";
    padding-block: var(--page-padding-top);
    text-align: center;
    font-weight: 400;
  }
}
